<div class="infosivu">

  <div class="keskitys">
    <p id="notice"><%= notice %></p>

    <p class="drumroll">Meille olisi ilo ja kunnia jos sinä, <i class="highlight"><%= current_user.realname %></i>,
      liittyisit seuraamme hiukan erilaiseen hääjuhlaan</p>
  </div>

  <div class="title keskitys">
    <p>

    <h1>LAUANTAINA 6. HELMIKUUTA 2016 Klo 16.00</h1></p>
  </div>


  <div>
    <p>Tiedossa on ilta ystävien seurassa
      SYÖDEN, JUODEN, TANSSIEN JA SAUNOEN!

      <br>

      Ota siis oma pyyhe mukaasi, pukeudu juhlavasti, mutta älä laita rahaa kiinni meikkiin tai kampaukseen koska ne
      pestään kuitenkin pois!<br>

      Jättäkää auto ja lapset kotiin, eikä edes häälahjoja tarvitse tuoda. Halutessanne voitte osallistua
      viinikaappirahastoon lahjoittamalla suoraan seuraavalle pankkitilille:<br>

  </div>
</div>

<div class="infosivu">
  <p>
    <i class="highlight">FI57 1204 5000 0386 62 Sami Pajunen</i>
  </p>
    <br>
    <p>
      Vastaattehan pian, kuitenkin <i class="highlight">viimeistään 20.12.2015</i>, myös siinä tapauksessa jos ette pääse paikalle. Kutsu on
      henkilökohtainen. Voitte vastata sivujen RSVP-osiossa.
      <br>

    </p>
</div>

<p class="allekirjoitus">Terveisin<br>
  Elina Turunen & Sami Pajunen</p>
</p>


<div class="infosivu">
  <h3>Lisätietoja:</h3>

  <p>
    <b>Kaaso</b> Anna Maria Parkkinen 050 367 3370<br>
    <b>Bestman</b> Tuukka Suomela 044 575 8688<br>
  </p>

  <h2>Juhlapaikka</h2>

  <p>URBANSAUNA
    Aleksis Kiven Katu 22, 00500 Helsinki</p>


  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1983.4861700494723!2d24.954965199999986!3d60.18923680000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46920981fb8c5825%3A0x7cdfcc7163f3b0d5!2sAleksis+Kiven+katu+22%2C+00101+Helsinki!5e0!3m2!1sen!2sfi!4v1443783449964" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>