
<div class="kaavake">
  <p id="notice"><%= notice %></p>
  <h1>Muokataan RSVP:tä</h1>
  <div class="keskitys">
    <%= link_to 'Näytä', @rsvp %>
    <%= link_to 'Takaisin', info_path %>
  </div>

<%= render 'form' %>

</div>

