
<div class="kaavake">
  <p id="notice"><%= notice %></p>
  <div class="keskitys rsvp">

    <h1>Muokkaa vastaustasi:</h1>
    <div class="rsvp navbuttons">
    <%= link_to 'Näytä', @rsvp %>
    <%= link_to 'Takaisin', info_path %>
    </div>
  </div>

<%= render 'form' %>

</div>

